* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    min-height: 100vh;
    color: #fff;
    /* background-image: url("assets/images/background.png"); */
}

header {
    height: fit-content;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 1);
}

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    align-items: center;
}

footer {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.category {
    color: #fff;
}

.center {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    display: flex;
}

.center a {
    color: #000;
    -webkit-text-stroke: 2px #ff13f0;
}

.categories {
    display: grid;
    margin-top: 30px;
    margin-bottom: 10px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 10px;    
} 

.question {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    color: #fff;
}

.questions {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    border-radius:20px;
    background-color: #1C1C1C;
    border-style: dashed;
    border-color: #474747;
    text-align: center;
}

.game-container {
    width: 100vw;    
    padding: 0 100px;
}

.category-title {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    border-radius:20px;
    background-color: #1C1C1C;
    border-style: dashed;
    border-color: #474747;
    text-align: center;
} 

.head-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    height: fit-content;
}  

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}


.head-nav a {
    color: #000;
    text-decoration: none;
}

.left {
    position: absolute;
    left: 40px;
    text-align: left;
    font-size: 20px;
}

.left-arrow{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
    
/* ------------------- Modal ------------------- */

button.modalCategory {
    background-color: rgba(0, 0, 0, 0); /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 200px;
    padding: 30px;
}

button.modalCategory:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.modal-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    margin: 1rem;
    font-family: 'Risque';
    z-index: 1;
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
}

.dropdown-btn {
    font-family: 'Risque';
    font-size: 1.3em;
    color: #fff;
    border: none;
    background-color: #484747;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    width: 500px;
}

.dropdown-content{
    display: none;
    flex-direction: column;
    border-bottom: 3px solid #fff;
    width: 100%;
}

/* Dropdown Section */

.dropdown-list {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    margin: 30px 0 30px 0;
    border-radius: 8px;
    font-family: 'Risque';
    font-size: 1em;
}

.dropdown-list label {
    color: #fff;
    font-size: 1.3em;
    font-family: 'Risque';
    padding-left: 15px;
    border-bottom: 2px solid #000;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #484747;
    border-radius: 8px;
    padding: 10px;
}

.input-fields {
    padding: 15px;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 200px;
    color: #fff;
    font-size: 1em;
    font-family: 'Risque';
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #ff13f0;
}

.input::placeholder {
    color: #fff;
}

.prev-content {
    font-family: 'Risque';
    font-size: 1em;
    border: none;
    color: #fff;
    background-color: #484747;
    border-radius: 8px;
    width: fit-content;
    max-height: fit-content;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.prev-content:hover {
    background-color: #585858;
}

/* Previous Games Section  */

.dropdown-prev-list {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 30px 0 30px 0;
    border-radius: 8px;
    font-family: 'Risque';
    font-size: 1em;
}

.dropdown-prev-list label {
    color: #fff;
    font-size: 1.3em;
    font-family: 'Risque';
    padding-left: 15px;
    border-bottom: 2px solid #000;
}

.prev-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #484747;
    border-radius: 8px;
    padding: 10px;
}

.prev-fields {
    display: flex; 
    flex-direction: row;
    padding: 15px;
}

.checkbox-text {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 200px;
    color: #fff;
    font-size: 1em;
    font-family: 'Risque';
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.checkboxes {
    margin-right: 5px;
}


.dropdown-submits {
    margin: 1rem 0 1rem auto;
    display: flex;
    font-family: 'Risque';
    font-size: 1em;
    color:#fff;
    border: none;
    background-color: #484747;
    border-radius: 8px;
    padding: 10px 20px;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dropdown-submits:hover {
    background-color: #585858;
}

.show {
    display: flex;
}

.dont-show {
    display: none;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
}

.modal-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-container {
    max-height: 700px;
    justify-items: center; 
    position: relative; 
    background-color: #1a1a1a;
    border-radius: 8px;
    width: 100%;
    max-width: 42rem;
    overflow: scroll;
}

.close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5rem;
}

.close-button:hover {
    color: rgba(255, 255, 255, 1);
}

.fa-chevron-down {
    transition: all 0.2s ease-in-out;
}
.rotate180 {
    transform: rotate(180deg);
}
