* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    min-height: 100vh;
    /* background-image: url("assets/images/background.png"); */
}

header {
    height: fit-content;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 1);
}

main {
    flex-grow: 1;
}

.container {
    flex-grow: 1;
}

footer {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.category {
    color: #fff;
}

.center {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    display: flex;
}

.center a {
    color: #000;
    -webkit-text-stroke: 2px #ff13f0;
}

.head-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    height: fit-content;
}  

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}


.head-nav a {
    color: #000;
    text-decoration: none;
}

.left {
    position: absolute;
    left: 40px;
    text-align: left;
    font-size: 20px;
}

.left-arrow{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.question {
    color: #fff;
} 
    


