.qr-container{
    height: auto;
    margin: 50px auto;
    max-width: 100%;
    width: 100%;
    padding:20px;
    background-color: white;
    border-radius: 25px;
}

.qr-grid{
    overflow-y: scroll;
    max-height: 85vh;
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 1.3vw;

}