@font-face {
    font-family: "Fontdiner Swanky";
    src: url("Fontdiner_Swanky/FontdinerSwanky-Regular.ttf");
}

@font-face {
    font-family: "Risque";
    src: url("Risque/Risque-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("Inter/Inter.ttf");
}